.cm-{
    $font-size: 16px;
    $font-family: 'JetBrains Mono', monospace;
    &gutters, &editor {
        font-size: $font-size;
        font-family: $font-family;
        border: none!important;
    }

    &line {
        font-size: $font-size;
        font-family: $font-family;
        line-height: 1.5;
        height: 100%;
        width: 100%;
    }

    &string {
        color:rgb(17, 198, 0)
    }

    &number,
    &boolean,
    &null-undefined {
        color:rgb(94, 145, 255)
    }
    &identifier {
        color:#bbdf06;
        text-decoration: underline
    }
    &keyword{
        color: rgb(122, 255, 228);
        font-weight: bold;
    }
    &sqlkeyword{
        color: #027e44;
        font-weight: bold;
    }
    &symbol {
        color: grey
    }
}