.cm-number {
    color:blue
}

.cm-boolean {
    color:darkblue
}

.cm-string {
    color:green
}

.cm-identifier {
    color:purple;
    text-decoration: underline
}

.cm-keyword{
    color: red
}

.cm-sqlkeyword{
    color:fuchsia
}

.cm-symbol {
    color: grey
}

.cm-null,
.cm-undefined {
    color: darkred
}